body{
    font-family: "Inter"
}
ul{
    list-style: none;
    padding: 0;
}
li{
    list-style: none;
    width: 100%;
    text-align: center;
}
.widgets{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
}
.ymap{
    width: 500px;
    height: 500px;
}
.widget-container{
    margin: 0 auto;
    margin-bottom: 0.3px;
    border:1px solid black;
    display:flex;
    flex-direction: column;
}
.input{
    margin-top:79px;
    margin:0 auto;
}
.button{
    width: 100%;
    height: 91px;
    background-color: #355FCA;
    color: white;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    font-family: "Inter"
}
.input-name{
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
}
.input-field{
    display: inline-block;
    width:405px;
    height: 49px;
    margin-left:47px;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
}